
<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

<div>
    <%= form.label :category %>
  <%= form.text_field :category %>
</div>
  
<div>
    <%= form.label :user_id %>
  <%= form.number_field :user_id %>
</div>
  
  <div>
    <%= form.submit %>
<%= link_to 'back to book', books_path, class: 'btn btn-primary btn-lg' %>

  </div>
<% end %>

